* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    padding: 0 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #192252;
    font-size: 16px;
}

.site-nav {
    padding-top: 10px;
    margin-bottom: 60px;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 5px;
}

.logo {
    font-size: 32px;
}

.nav-list {
    list-style-type: none;
}

.nav-link {
    padding: 10px;
}

/* hero styles start */

.hero-content {
    width: 40%;
}

.hero-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
}

.hero {
    margin-left: 60px;
}

.hero-subtitle {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 400;
}

.hero-img {
    display: flex;
    margin-right: auto;
    margin-left: 100px;
}

.img2 {
    margin: 0 20px;
    margin-top: 90px;
}

/*About us*/
.about {
    margin-top: 80px;
    margin: 60px;
}

.about-content {
    width: 37%;
    margin-right: auto;
    margin-left: auto;
}

.about-image {
    width: 360px;
    height: 576px;
    border-radius: 4px;
    margin-left: 60px;
}

.about-text {
    margin: 20px 0 20px 0;
    color: #848FAC;
}

.about-title {
    font-size: 33px;
    font-family: sans-serif;
    color: #192252;
    font-weight: 600;
}

/*feedback*/
.feedback {
    background-color: #0B265A;
    color: white;
    margin-top:40px;
}

.feedback-content {
    padding: 30px 40px 30px 40px;
    width: 80%;
    margin-left: 100px;

}

.feedback_text {
    width: 170px;
    height: 75px;
    margin-top: 5px;
    color: #D9DBDE;
}

.lst {
    list-style-type: none;
    color: #D9DBDE;
    ;
    font-size: 13px;
    margin-left: -30px;
}

.reservation {
    margin-top: -55px;
    margin-left: -350px;
    margin-right: -350px;
}

.contact {
    margin-top: -7px;
}

.icon {
    width: 20px;
    border-radius: 100px;
    background-color: white;
    margin-left: 10px;
}

/*Customer*/
.customer {
    width: 793px;
    height: 500px;
    text-align: center;
    margin-left: 250px;
   
}

.customer_text {
    color: #848FAC;
    font-size: 18px;
    font-weight: 400px;
    width: 700px;
    margin-left: 60px;
}

/**/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

.question {
    display: flex;
    align-items: center;
    padding: 80px 120px;
    margin-bottom:40px;
}

.w-half {
    width: 50%;
    /* border: 1px solid red; */
}

.question__info .box {
    width: 407px;
}

.question__info .box span {
    color: #424f7b;
    font-weight: 200;
    line-height: 150%;
}

.question__info .box h2 {
    color: #424f7b;
    font-size: 35px;
    font-weight: 600;
    margin: 12px 0 24px 0;
}

.question__info .box p {
    color: #848fac;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 32px;
}

.question__ask .question-box {
    margin-bottom: 24px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 4px;
}

.question__ask .question-box .title {
    padding: 32px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.question__ask .question-box .title h3 {
    color: #424f7b;
    font-size: 24px;
    font-weight: 600;
}

.question__ask .question-box .title i {
    color: #ff620a;
    font-size: 24px;
}

.question__ask .question-box .content {
    color: #848fac;
    font-size: 18px;
    padding: 0 36px 36px 36px;
}

/**/
.rooms_img {
    width: 320px;
    height: 400px;
    border-radius: 4px;
    margin-left: 30px;
}

.h4_img {
    margin-top: 15px;
    font-weight: 600;
    margin-left: 30px;
}

.room_text {
    color: #848fac;
    margin-left: 30px;
    font-size: 15px;
    width: 290px;
}

.learn_button {
    border: none;
    background-color: white;
    color: #424F7B;
    width: 97px;
    margin-left: 23px;
}

.container {
    margin-bottom: 20px;
}

.room_choose {
    text-align: center;
    margin-top: 70px;
}

.room_choose h3 {
    font-weight: 600;
    font-size: 30px;
    color: #192252;
}

.room_choose p {
    color: #848fac;
    width: 500px;
    margin-left: 300px;
    margin-top: 20px;
}

.btn {
    padding: 7px 14px;
    border-radius: 7px;
    background-color: #0E1734;
    color: white;
}

.rooms {
    margin-top: 30px;
}

.room_choose button {
    margin-bottom: 30px;
}

.foods {
    width: 80%;
    text-align: center;
    align-items: center;
}

.food1 {
    margin-left: 150px;
}

.food2 {
    margin-left: 100px;
}

.food3 {
    margin-right: 100px;
}

.food1 p {
    text-align: left;
    color: #848fac;
}

.food1 h3 {
    text-align: left;
    color: #0E1734;
    font-weight: 600;
    font-size: 22px;
}

 @media (min-width: 320px) {
    .burger-menu {
        display: block !important;
    }
    .nav-list, .get-start {
        display: none !important;
    }

    .hero {
        flex-direction: column-reverse;
        margin-left: 0;
    }
    .hero-img {
        margin-left: 0;
        margin: 0 auto;
    }
    .img1 > img, .img2 > img, .img3 > img  {
        margin: 0;
        width: 90px;
        height: 200px;
    }
    .img2 {
        margin: 35px 5px 0;
    }
    .hero-content {
        width: 100%;
        text-align: center;
    }
    .hero-title {
        font-size: 18px;
        width: 100%;
    }
    .hero-subtitle {
        font-size: 14px;
    }
    .reservation {
        margin-top: 15px !important;
        font-size: 14px;
    }
    .about {
        flex-direction: column;
        margin: 0;
        margin-top: 100px;
    }
    .about-image {
        margin: 0;
        height: auto;
        margin-bottom: 30px;
    }
    .about-image > img {
        display: flex;
        margin: 0 auto;
        width: 300px;
        height: 350px;
    }
    .about-content {
        width: auto;
        text-align: center;
    }
    .about-title {
        font-size: 18px;
    }
    .about-text {
        font-size: 14px;
    }
    .btn {
        font-size: 14px;
    }

    .foods {
        width: auto;
        margin-top: 50px;
    }
    .food1 {
        flex-direction: column;
        margin: 0;
        text-align: center;
    }
    .food1 > div> h3 {
        font-size: 18px;
    }
    .food2 {
        display: flex;
        margin: 0 auto;
        width: 300px;
    }
    .food3 {
        display: flex;
        margin: 0 auto;
        width: 300px;
    }
    .food3-img-wrapper {
        margin-bottom: 30px;
    }
    .food-text-content > h3, .food-text-content > p {
        text-align: center !important;
    }
    
    .room_choose > h3 .room_choose > p {
        text-align: center !important;
       
    }
    .room_choose > h3 {
        font-size: 18px;
    }
    
    .room_choose {
        margin-bottom: 30px;
    }
    .room_choose > p {
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
        width: 100%;
    }

    .rooms_img {
        display: flex;
        margin: 0 auto;
        width: 300px;
    }

    
    .col > h4 {
        text-align: center;
    }

    .col > p { 
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .h4_img {
        font-size: 18px;
    }

    .room_text {
        font-size: 14px;
    }

    .learn_button {
        padding: 0;
        margin: 0;
        font-size: 14px;
        margin-bottom: 30px;
        width: 100%;
    }


    .question {
        width: auto;
        flex-direction: column;
        padding: 0;
        margin-top: 50px;
        text-align:center !important;
    }

    .box {
        text-align:center !important;
        display: wrap;
    }


    .question__info .box h2 {
        text-align: center;
        font-size: 18px;
        margin-top: 20px;
    }

    .question__info .box > span {
        padding: 0;
        margin: 0;
        font-size: 13px;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .box > p {
        margin: 0;
        width: 100%;
        font-size: 14px;
        margin-left: -5px;
        display: flex;
        align-items: center;
    }

    .actions {
        margin-bottom: 20px;
 	    margin-top: 15px;
    }

    .actions button.btn.btn-secondary {
        font-size: 14px;
	    margin-right:10px;
    }

    .actions a.link {
        font-size: 14px;
 	    margin-bottom: 15px;
    }

    

    .question-box {
        width: 400px;
        width: auto;
        text-align: start;
    }

    .question__ask .question-box .title h3 {
        font-size: 18px;
    }

    .question__ask .question-box .content {
        font-size: 14px;
    }

    .customer {
        width: 100%;
        max-width: 600px; /* Set a maximum width if needed */
        margin: 0 auto; /* Center the div on the page */
        padding: 20px;
        background-color: #f0f0f0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 30px;
        margin-bottom: 45px;
  
    }
    .customer > h1 {
        text-align:center;
        font-size: 18px;
    }

    .customer > img {
        display: flex;
        margin: 0 auto;
        width: 200px !important;
    }

    .customer_text {
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 14px;
    }

    .customer > h3 {
        font-size: 18px;
    }

    /* FEEDBACK */

    .feedback-content {
        flex-direction: column !important;
        margin: 0 auto;
        padding: 0;
    }

    .feedback_text {
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

 
    .feedback_title {
        padding-top: 30px;
        text-align: center;
        font-size: 18px;
    }

    .icons {
        text-align: center;
    }


   .rooms, .reservation >h4, .contact > h4 {
        font-size: 18px;
        padding: 0;
        text-align: center;
   }

   .lst {
        text-align: center;
        font-size: 14px;
        
   }

   .contact > h4 {
        margin-top: 20px;
   }
}


/* Media query for screens larger than 600px */
@media (min-width: 600px) {
    .customer{
        padding: 30px;
        margin-bottom:200px;
    }
}

/* Media query for screens larger than 800px*/
@media (min-width: 800px) {
    .customer-div {
        max-width: 800px; /* Adjust the maximum width for larger screens */
    }
}
